<div class="row=fluid">
  <div class="span9">
    <div class="alert alert-error" ng-show="errored">
      <strong>Error!</strong> {{errorMsg}}
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span12">
    <div class="btn-group pull-right">
      <button class="btn"  href="" ng-click="newPlayer(pid)">New</button>
      <button class="btn"  href="" ng-click="savePlayer(pid)" 
        ng-disabled="playerForm.$invalid || playerForm.$pristine">Save</button>
    </div>
    <form name="playerForm" class="form-inline">
      <legend>Player</legend>
      <div class="controls controls-row">
        <label>Id<br/>
          <input type="text" name="id" placeholder="Id" required 
            class="input-small" ng-model="player.pid" readonly>
        </label>
        <label>Team Id<br/>
          <input type="text" name="tid" placeholder="Team Id" required 
            class="input-small" ng-model="player.tid" readonly>
        </label>
        <label>Name<br/>
          <input type="text" name="name" placeholder="Name" required 
            class="input-medium" ng-model="player.name" >
        </label>
        <label>Health<br/>
          <input type="number" name="health" placeholder="Health" required 
             min="1" max="9" class="input-small" ng-model="player.health" >
        </label>
        <label>Skill<br/>
          <input type="number" name="skill" placeholder="Skill" required 
             min="1" max="9" class="input-small" ng-model="player.skill" >
        </label>
      </div>
      <div class="controls-row" >
        <div ng-style="{color:'red'}" ng-cloak 
          ng-show="playerForm.$dirty && playerForm.$invalid">
          <span ng-show="!!playerForm.$error.required"> Missing:</span>
          <span ng-show="playerForm.name.$error.required"> Name.</span>
          <span ng-show="playerForm.health.$error.required"> Health.</span>
          <span ng-show="playerForm.skill.$error.required"> Skill.</span>
          <!--<span ng-show="!!playerForm.$error.pattern"> Invalid: </span>-->
          <!--<span ng-show="playerForm.pon.$error.pattern"> Strength.</span>-->
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row-fluid">
  <form name="playersForm" class="form-inline">
    <legend>Edit Players</legend>
    <div class="span12">
      <div class="controls controls-row">
        <label class="control-label">Players<br/>
        </label>
      </div>
      <div class="controls controls-row">
        <div ng-repeat="player in players ">
          <ng-form class="form-inline" name="playerForm" au-form-name="playerForm{{$index}}"
            au-outer-form="playersForm" class="form-horizontal" ng-cloak>
              <div class="controls controls-row">
                <label class="control-label">Id<br/>
                  <input type="text" name="pid" placeholder="Player Id" class="input-mini" 
                    ng-model="player.pid" ng-required="true" 
                    ng-readonly="true" title="Player Id">
                </label>
                <label class="control-label">Name<br/>
                  <input type="text" name="name" placeholder="Name" class="input-mini" 
                    ng-model="player.name" ng-required="true" title="Player Name">
                </label>
                <label class="control-label">Health<br/>
                  <input type="text" name="health" placeholder="Health" class="input-mini" 
                    ng-model="player.health" ng-required="true" title="Player Health" >
                </label>
                <label class="control-label">Skill<br/>
                  <input type="text" name="skill" placeholder="Skill" class="input-mini" 
                    ng-model="player.skill" ng-required="true" title="Player Skill">
                </label>
                <label class="control-label">Team Id<br/>
                  <input type="text" name="tid" placeholder="Team Id" class="input-mini" 
                    ng-model="player.tid" ng-required="true"  ng-readonly="true" title="Team Id">
                </label>
                <label>Team<br/>
                  <select class="input-small" name="team" required 
                    ng-model="player.tid" title="Change Team"
                    ng-options="option.tid as option.name for option in teamOptions">
                  </select>
                </label>
                <div class="btn-group">
                  <button class='btn btn-mini' href="" title="Delete Player" 
                    ng-click="removePlayer($index)"><i class="icon-remove"></i>
                  </button>
                </div>
              </div>
          </ng-form>
        </div>
        <button class='btn btn-mini' href="" title="Add Player" 
            ng-click="addPlayer()"><i class="icon-plus"></i>
        </button><br/>
      </div>
      <p/>
      <div class="controls-row">
        <div class="btn-group pull-left">
          <button class="btn"  href="" ng-click="newOrder();editable=true;">New</button>
          <button class="btn"  href="" ng-click="saveOrder()" 
            ng-disabled="orderForm.$invalid || orderForm.$pristine">Save</button>
          <button class="btn" type="button" ng-click="refreshOrder(order.pid)"
            ng-disabled="!order.pid">Refresh</button>
        </div>
      </div> 
      <div class="controls-row" >
        <div ng-style="{color:'red'}" ng-cloak 
          ng-show="orderForm.$dirty && orderForm.$invalid">
          <span ng-show="!!orderForm.$error.required"> Incomplete:</span>
          <span ng-show="orderForm.pid.$error.required"> Port Id.</span>
          <span ng-show="orderForm.poid.$error.required"> Order Id.</span>
          <div ng-repeat="number in numbers">
            <span ng-show="numberRequired($index)">Number{{$index}}.</span>
          </div>
          <span ng-show="!!orderForm.$error.pattern"> Invalid: </span>
          <span ng-show="orderForm.poid.$error.pattern"> Order Id.</span>
          <div ng-repeat="number in numbers">
            <span ng-show="numberInvalid($index)">Number{{$index}}.</span>
          </div>
        </div>
      </div>
    </div>
    
  </form>
</div>
<p/>


<h4>PID</h4>
<p>{{pid}}</p>
<h4>Player</h4>
<p>{{player}}</p>
<h4>Players</h4>
<p>{{players}}</p>
    